*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 500;
}
.wrap{
  background-color: #fbfbfb;
  display: flex;
  width: 1280px;
}
.intro{
  background-color: #f7f7f7;
  width: 360px;
  padding: 20px 30px;
}
.intro-pic{ 
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}
.intro>h2{
  margin-bottom: 15px;
  font-size: 20px;
}
.record{
  font-size: 10px;
  margin-bottom: 10px;
}
.icon-area{
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.icon-area a{
  width: 35px;
  height: 35px;
  margin: 0 5px;
  line-height: 50px;
  text-align: center;
}
.icon{
  overflow: hidden;
  width: 31px;
  height: 31px;
  margin: 2px;
}
.icon img{
  width: 100%;
  line-height: 31px;
}
hr{
  margin: 15px 0;
}
.youtuber{
display: flex;
}
.channel{
  display: flex;
  height: 50px;
  line-height: 50px;
}
.channelpic{
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.channelpic img{
  width: 100%;
  height: 100%;
}
.csscoke{}
.csscoke a{
  line-height: 1em;
  font-size: 10px;
}
.csscoke a div{
  margin: 20px 0 20px 10px;
}
.blank1{
  width: 110px;
}
.sub{
  display: flex;
  height: 50px;
  padding-top: 5px;
}
.subscribed{
  background-color: #ccc;
  text-align: center;
  width: 110px;
  height: 35px;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
}
.sub>a{
  margin: 0 2px;
}
.sub>a:visited{
  color: #555;
}
.ring{
  height: 35px;
  padding: 0 5px;
  margin: 0 0 0 2px;
}
.ring img{
  height: 100%;
}
.listBakcground{
  background-color: #ccc;
  width: 700px;
}
.videoList{
  margin: 20px 0 0 0;
}
.list{
  padding: 10px 0;
  display: flex;
  border-bottom: #c5c5c5 1px solid;
}
.list:hover{
  background-color: #ccc;
  border-bottom: #ccc 1px solid;
}
.no{
  padding: 30px 8px;
}
.list a{
  color: #111;
}
.listAnchor{
  display: flex;
}
.content{
  padding: 0 10px;
}
.content h5{
margin-bottom: 10px;
font-size: 17px;
}
.content a{
  font-size: 15px;
}
.content a:hover{
  color: #333;
}
a{
  text-decoration: none;
}
